@charset "UTF-8";

*{
	padding:0;
	margin:0;
}
.table-hover > tbody > tr:hover > * {
	--bs-table-hover-bg: rgba(248, 248, 248, 1);
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	align-items: center;
}
.w10{
	width: 10%;
}
.w30{
	width: 30%;
}
.w40{
	width: 40%;
}
.center {
	text-align: center;
	justify-content: center;
  	align-items: center;
  	vertical-align: middle;
}
.nonedeco a{
	text-decoration: none;
	color: black;
}
.title {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.main-title {
	font-size: 40px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 25px;
}
.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.con {
	margin: 20px;
	height: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.con .col-lg-2 {
	margin-top: 200px;
}
/*알러트*/
.swal2-styled.swal2-confirm {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #07B875 !important;
  font-size: 12px;
  border: 1px solid #07B875 !important;
}
.swal2-styled.swal2-confirm:focus {
	box-shadow : 0 0 0 3px rgba(176,199,173,.4) !important;
}
/*로그인, 회원가입 공통*/
.login-join{
	margin-top: 30px;
}
.login-join h1{
	margin-top: 50px;
	margin-bottom: 40px;
}
.login-join .form-check{
	width: 300px;
	margin-bottom: 25px;
}
.login-join button{
	width: 300px;
	height: 44px;
	margin-bottom: 25px;
}
.login-join .aBtn{
	display: grid;
	width: 300px;
	height: 44px;
	margin-bottom: 25px;
    place-items: center;
}
.login-join .nonedeco a{
	width: 100px;
	color: green;
	margin-left: 10px;
	justify-content: center;
	align-items: center;
}

/*로그인*/
.login{
	position: absolute;
  	top: calc(50% - 300px);
	left: calc(50% - 200px);
    width: 400px;
	height: 500px;
    border-radius: 40px;
    box-shadow: 10px 10px 30px rgba(1, 31, 19, 0.4);
}
.login-save{
	text-align: left;
	margin-top: -10px;
	margin-bottom: 20px;
}
.login .footer, .join .footer{
    margin-top: 100px; 
}
/*회원가입*/
.join{
	position: absolute;
	top: calc(50% - 300px);
	left: calc(50% - 200px);
	width: 400px;
	height: 500px;
    border-radius: 40px;
    box-shadow: 10px 10px 30px rgba(1, 31, 19, 0.4);
}

/*회원정보 및 비밀번호 수정*/
.mypage{
	margin-top: 150px;	
}
.mypage h1{
	margin-top: 10px;	
	margin-bottom: 40px;
}
.profile {
	width: 400px;
	height: 550px;
	margin-left: 100px;
	padding-top: 40px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.profile img:first-child {
	margin-top: -100px;
	width: 55px;
}
.profile img{
	width: 200px;
}
.profile .title{
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
}
.chart {
	width: 600px;
	height: 550px;
	padding-top: 40px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.chart > img {
	margin-top: -100px;
	width: 55px;
}
.chart .arrow {
	margin-right: 30px;
}
.password{
	font-size: 20px;
}
.password div a{
	width: 130px;
	color: #333;
}
.password > div a + a {
	margin-left: 10px;
}

/*로그아웃, 회원정보 등 상단, 왼쪽 버튼*/
.info .btn{
	width: 100px;
	margin-bottom: 10px;
}
.info-top {
	position: relative;
	text-align: center;
	width: 700px;
	top: 20px;
	left: calc(50% - 350px);
}
.info-top .btn{
	width: 200px;
	margin-bottom: 10px;
	color: black;
}

/*캐시 추가*/
.addtable{
	position: relative; /*부모*/
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 150px;
	padding: 10px 0;
	margin-bottom: 50px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.addtable button{
	position: absolute; /*자식*/
	bottom: -25px;
	left: calc(50% - 50px);
	width: 100px;
	height: 50px;
}
.addtable table{
	display: grid;
	place-items: center;
}
.addtable table td{
	border:none;
}
.addtable tr{
	text-align: left;
	font-weight: bold;
	font-size: 25px;
}
.addtable .title{
	text-align: left;
	font-weight: bold;
	font-size: 25px;
	margin-left: 100px;
}
.addtable .form-control{
	text-align: center;
	margin-right: 50px;
	width: 300px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
@media (max-width: 991.98px) {
	.addtable {
	   	height: 250px;
	}
	.addtable .form-control{
	text-align: center;
	margin-right: 50px;
	width: 260px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	}
}
/* 테이블 공통*/
.list{
	width: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
	justify-content: center;
}
.list .title td{
	background-color: #E0FDDC;
	font-size: 17px;
	font-weight: bold;
}
.list .btn{
	padding: 5px 15px 5px 15px;
	border-radius: 10px;
}
.list table td{
	border: 1px solid #e0fddc;
}
.list table td > div:nth-child(2){
	overflow-y: auto;
	height: 100px;
}
@media (max-width: 991.98px) {
	.list {
		overflow-x: auto;
	   	height: 700px;
	}
	.list table td > div:nth-child(2){
		overflow-y: auto;
		height: 50px;
	}
}

/*캘린더 화살표*/
.arrow {
	text-align: right;
}
.arrow img, .arrow a{
	display: inline-block; 
	vertical-align: middle; /* 세로 중앙 정렬 (이미지와 텍스트를 수직 정렬) */
	background-color: #B0C7AD;
	border-radius: 10%;
}
.arrow-link {
	width: 60px;
	margin: 10px;
	text-align: center;
	line-height: 30px; /* 링크 영역의 높이와 이미지의 높이를 맞춤 (옵션) */
    text-align: center; /* 텍스트를 가운데 정렬 */
}
.arrow img{
	width: 30px;
}
.arrow-left img{
	transform: rotate(180deg);
}
.arrow-right img{
	transform: rotate(0deg);
}

/* 캘린더*/
.calendar .serve td:hover{
	background-color: #D2EDCE;
}
.calendar table td{
	width: 155px;
}

/*홈 해시태그(왼쪽정렬)*/
.tag table tbody tr:hover td{
	background-color: #D2EDCE;
}
.hastag{
	justify-content: center;
	overflow-y: auto;
	height: 340px;
}
.hastag a{
	width: 200px;
	color: gray;
	text-decoration: none;
	font-style: italic;
}
.hastag ul{
	transition: transform 0.3s ease;
}
.hastag ul:hover{
	transform: scale(1.1);
}
.hastag ul {
	padding-left: 0;
	list-style: none;
}
.col-lg-2 .info h3 {
	margin-top: 50px;
}

/*수입, 지출(오른쪽 정렬)*/
.total{
	margin-top: 50px;
	height: 300px;
}
.total h3 {
	margin-top: 10px;
}
.total div{
	font-size: 30px;
}

/*태그 클릭시 보여질 리스트*/
.taglist{
	color: #07B875;
	font-size: 70px;
	font-weight: bold;
	margin-top: 30px;
}
.taglist-hastag{
	position: relative;
	margin: 20px auto 50px;
	overflow-x: auto;
	width: 1000px;
}
.taglist-hastag > div{
	display:flex;
	height: 50px;
}
.taglist-hastag > div div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	padding: 10px;
	border-radius: 80px; 
	background-color: rgba(212, 212, 212, 0.5);
}
.taglist-hastag > div div:hover{
	background-color: #949494;
}
.taglist-hastag > div div+div{/*div중 가장 첫 div*/
	margin-left: 10px;
}
.taglist-hastag a{
	width: 150px;
	color: gray;
	font-size: 15px;
	font-style: italic;
}
.taglist-hastag > div div:hover a{
	color: white;
}

/*카피라이트*/
.footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
